// Core variables and mixins
@import "variables.less";
@import "mixins.less";

// Overrides
@grid-columns: 4;
@brand-primary: #3e4fad;

// Reset and dependencies
@import "normalize.less";

// Core CSS
@import "scaffolding.less";
@import "type.less";
@import "grid.less";
@import "tables.less";

// Utility classes
@import "utilities.less";
@import "responsive-utilities.less";

header {
  padding-top: (@padding-large-vertical * 3);
}

.section-title {
  text-transform: uppercase;
  background: @gray-dark;
  color: #fff;
  padding: @padding-large-vertical @padding-large-horizontal;
}

.last {
  padding-bottom: (@padding-large-vertical * 2);
}

@media (min-width: @screen-sm-min) {
  .dl-horizontal {
    dt {
      width: 80px;
    }

    dd {
      margin-left: 100px;
    }
  }
}

.at {
  @media (max-width: @screen-sm-max) {
    display: none;
  }
}

h1,
h2,
h3 {
  a,
  span,
  small {

    display: inline-block;

    @media (max-width: @screen-sm-max) {
      display: block;
    }
  }
}