// Variables
@bootstrap: "../../node_modules/bootstrap/less";

// Core variables and mixins
@import "@{bootstrap}/variables.less";
@import "@{bootstrap}/mixins.less";

// Reset and dependencies
@import "@{bootstrap}/normalize.less";
@import "@{bootstrap}/print.less";
// @import "@{bootstrap}/glyphicons.less";

// Core CSS
@import "@{bootstrap}/scaffolding.less";
@import "@{bootstrap}/type.less";
// @import "@{bootstrap}/code.less";
@import "@{bootstrap}/grid.less";
// @import "@{bootstrap}/tables.less";
// @import "@{bootstrap}/forms.less";
// @import "@{bootstrap}/buttons.less";

// Components
// @import "@{bootstrap}/jumbotron.less";
// @import "@{bootstrap}/list-group.less";
// @import "@{bootstrap}/panels.less";

// Utility classes
@import "@{bootstrap}/utilities.less";
@import "@{bootstrap}/responsive-utilities.less";

header {
  padding-top: (@padding-large-vertical * 3);
}

.section-title {
  text-transform: uppercase;
  background: @gray-dark;
  color: #fff;
  padding: @padding-large-vertical @padding-large-horizontal;
}