$grid-columns: 4;
$blue: #3e4fad;
$line-height-base: 1.4;
$font-size-base: .875rem;
$h3-font-size: 1.5rem;
$small-font-size: 65%;
$paragraph-margin-bottom: .5rem;

@import "functions";
@import "variables";
@import "mixins";
@import "root";
@import "reboot";
@import "type";
@import "images";
@import "grid";
@import "utilities";
@import "print";

.hr {
  display: block;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;

  & > span {
    position: relative;
    display: inline-block;

    &:before,
    &:after {
      content: "";
      position: absolute;
      top: 50%;
      width: 100vw;
      height: 1px;
      background: $gray-400;
    }

    &:before {
      right: 100%;
      margin-right: 1rem;
    }

    &:after {
      left: 100%;
      margin-left: 1rem;
    }
  }
}
