// See https://getbootstrap.com/docs/5.1/customize/sass/

// Variables
$grid-columns: 4;
$blue: #3e4fad;
$line-height-base: 1.4;
$font-size-base: .875rem;
$small-font-size: 65%;
$paragraph-margin-bottom: .5rem;
$link-decoration: none;

// Configuration
@import "functions";
@import "variables";
@import "maps";
@import "mixins";
@import "utilities";

// Mixins
@mixin img-fluid {
  width: 100%;
  max-width: 100%;
  height: auto;
}

// Layout & components
@import "root";
@import "reboot";
@import "type";
@import "images";
@import "containers";
@import "grid";

// Helpers
@import "helpers";

// Utilities
@import "utilities/api";

// Custom styling
small {
  font-weight: $font-weight-normal;
}

.hr {
  display: block;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;

  & > span {
    position: relative;
    display: inline-block;

    &:before,
    &:after {
      content: "";
      position: absolute;
      top: 50%;
      width: 100vw;
      height: $border-width;
      background: $gray-300;
    }

    &:before {
      right: 100%;
      margin-right: $spacer;
    }

    &:after {
      left: 100%;
      margin-left: $spacer;
    }
  }
}
